.main{
    width: 42%;
    height: 80%;
    margin-top: 2em !important;
    margin-left:27% !important;
    background-color:transparent;
    float: center;
    border-radius:8px;
    background-position-x: center;
   
    
  
}

.sizeImg{
    width: 99%;
    height: 650px;
    border-radius:10px;
}

.kopce
{
    float:right;
     background-image: url('https://i.ya-webdesign.com/images/facebook-like-and-love-buttons-png-transparent-6.png?fbclid=IwAR3D-qz9_5niWAHkDnJTqBnB4uPlKmMqR5MOCy5Y1L4ZMNTzjZDWUUYs03Q');
     background-size:cover;
     background-color:transparent;
     width: 40px;
     height: 40px;
     margin-top:-16px;
  
     border:none;
}

.descr
{
    float:right;
    margin-right:5%;
    margin-top:-20%;
    width:10%;
    border-radius:10px;
    height:400px;
    color:black;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color:#C13584(212, 189, 255);
    
}
.comm
{
    float:left;
    margin-left:5%;
    margin-top:-20%;
    width:10%;
    border-radius:10px;
    height:400px;
    color:black;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color:#C13584(212, 189, 255);;
}
