<img mat-card-image [src]="data.pictureUrl" alt="Photo of a Shiba Inu" class="sizeImg2 float-left">
<div class="scroll">

<div class="comment">
        <mat-card-header>
                <img mat-card-avatar [src]="data.pictureUrl">
                <mat-card-title>John Doe</mat-card-title>
                <mat-card-subtitle>@johndoe</mat-card-subtitle>
        </mat-card-header>
    <p>Lorem ipsum is placeholder text commonly used</p>
</div>
<div class="comment">
        <mat-card-header>
                <img mat-card-avatar [src]="data.pictureUrl">
                <mat-card-title>John Doe</mat-card-title>
                <mat-card-subtitle>@johndoe</mat-card-subtitle>
        </mat-card-header>
    <p>Lorem ipsum is placeholder text commonly used</p>
</div>
<div class="comment">
        <mat-card-header>
                <img mat-card-avatar [src]="data.pictureUrl">
                <mat-card-title>John Doe</mat-card-title>
                <mat-card-subtitle>@johndoe</mat-card-subtitle>
        </mat-card-header>
    <p>Lorem ipsum is placeholder text commonly used</p>
</div>
<div class="comment">
        <mat-card-header>
                <img mat-card-avatar [src]="data.pictureUrl">
                <mat-card-title>John Doe</mat-card-title>
                <mat-card-subtitle>@johndoe</mat-card-subtitle>
        </mat-card-header>
    <p>Lorem ipsum is placeholder text commonly used</p>
</div>
<div class="comment">
        <mat-card-header>
                <img mat-card-avatar [src]="data.pictureUrl">
                <mat-card-title>John Doe</mat-card-title>
                <mat-card-subtitle>@johndoe</mat-card-subtitle>
        </mat-card-header>
    <p>Lorem ipsum is placeholder text commonly used</p>
</div>
</div>

<div class="comment">

<mat-form-field>
  <input matInput placeholder="What's on your mind?">
</mat-form-field>
<button mat-raised-button >Comment</button>
</div>

