
<mat-toolbar id="brm" style="background:linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#c13584,#E1306C,#FD1D1D); padding-left:48%; font-family: Blippo, fantasy; font-size: xxx-large;" >Insta-App</mat-toolbar>
<mat-slide-toggle (click)="mode()"class="slajt">Light/Dark</mat-slide-toggle>
<button  (click)="loginf()" class="login">Login</button>

<div id="parent">
  <div id="child">
<cdk-virtual-scroll-viewport [itemSize]="200" style="height: 1000px">
<div *cdkVirtualFor="let post of posts">
  <app-posts [pictureUrl]="post.imageURL"> </app-posts>
  <br><div id="lajk"class="casa"><em>{{post.likes}}</em></div>
  <div id="pink" class ="dire" ><b>Description:</b><br><em>{{post.description}}</em></div>
  <div id="floyd"class="straits" ><b>Comments:</b><br><em>{{post.comments}}</em></div>
  <div id="ime"class="uime" ><b>Username:</b><br><em>{{post.name}}</em></div>
  
</div>
<div >
  <button class="lajkop" (click)="lajkfunk()"></button>
 <div> <button class="kopce1"  (click)="onLoadLess()"></button></div>
 <div><button class="kopce2" (click)="onLoadMore()"></button></div>
</div>

</cdk-virtual-scroll-viewport>
  
</div>
</div>
