<mat-toolbar color="primary">FEIT Instagram</mat-toolbar>

<!-- Session1 -->
<!-- <div>
  <app-posts (click)="onClick()"[pictureUrl]="'https://material.angular.io/assets/img/examples/shiba1.jpg'"></app-posts>
  <app-posts (click)="onClick()"[pictureUrl]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"></app-posts>
  <app-posts (click)="onClick()"[pictureUrl]="'https://i.ytimg.com/vi/MPV2METPeJU/maxresdefault.jpg'"></app-posts>
  <app-posts (click)="onClick()"[pictureUrl]="'https://material.angular.io/assets/img/examples/shiba1.jpg'"></app-posts>
  <app-posts (click)="onClick()"[pictureUrl]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"></app-posts>
  <app-posts (click)="onClick()"[pictureUrl]="'https://i.ytimg.com/vi/MPV2METPeJU/maxresdefault.jpg'"></app-posts>
</div> -->

<!-- Session2 -->
<!-- <div *ngFor="let post of posts">
  <app-posts (click)="onClick(post)"[pictureUrl]="post.photoUrl"></app-posts>
</div> -->

<!-- Session4 -->
<cdk-virtual-scroll-viewport [itemSize]="200" style="height: 700px">
<div *cdkVirtualFor="let post of posts">
  <app-posts (click)="onClick(post)"[pictureUrl]="post.photoUrl"></app-posts>
</div>
<div style="padding: 30px;">
  <button mat-fab color="basic" (click)="onLoadMore()">Next</button>
</div>
</cdk-virtual-scroll-viewport>

