.kopce2
{
    margin-top:-19%;
    margin-left:68.5%;
    position: absolute;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Red_Arrow_Right.svg");
    background-color:transparent;
    border:none;
    background-size:cover;
    width:45px;
    height: 50px;
}
.kopce1
{   
    background-image:url("https://www.freeiconspng.com/uploads/red-arrow-left-png-6.png");
    background-size:cover;
    background-color:transparent;
    width:45px;
    height:50px;
    border:none;
margin-top:-16%;
margin-left:68.5%;
position: absolute;
}

.login
{
    float:left; margin-top:-2.3%;margin-left:1%;
    background-color: transparent;
    border:none;
    font-size:120%;
}

#parent {height: 45px; position: relative;}
#parent::after {
	content: ''; 
	width: 100%; 
	height: 2000%;
    background-color:#EDE7F6; 
    
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
}

.slajt
{
    float:right; margin-top:-2%;margin-right:1%;
    color:"primary";
}

.dire
{   width:250px;
    height:550px;
    float:right;
    right:5%;
    margin-right: 2%;
    margin-top:-31%;
    text-align:center;
    background-color:rgb(212, 189, 255);
    border-radius:10px;
    font-size:125%;
    box-shadow:5px 5px 5px gray;
}
.straits
{
    width:250px;
    height:550px;
    float:left;
    right:5%;
    margin-left: 2%;
    margin-top:-31%;
    text-align:center;
    background-color:rgb(212, 189, 255);
    border-radius:10px;
    font-size:125%;
    box-shadow:5px 5px 5px gray; 
}
.casa
{
    margin-top: 0.2%;
    margin-left:47%;
    font-size:125%;
    background-color: rgb(212, 189, 255) ;
    width:100px;
    height:25px;
    border-radius:5px;
    text-align:center;
    box-shadow:5px 5px 5px gray;
}
.lajkop
{
    float:right;
    margin-top:-1.7%;
    margin-right: 45%;
    border:none;
    background-image: url('https://i.ya-webdesign.com/images/facebook-like-and-love-buttons-png-transparent-6.png?fbclid=IwAR3D-qz9_5niWAHkDnJTqBnB4uPlKmMqR5MOCy5Y1L4ZMNTzjZDWUUYs03Q');
    background-size:cover;
    background-color:transparent;
    width: 40px;
    height: 40px;

}
