
<mat-toolbar id="brm" style="background-color:#FF1744; padding-left:48%;" >FEIT Instagram</mat-toolbar>
<button  (click)="loginf()" class="login">Login</button>
<mat-slide-toggle (click)="mode()"class="slajt">Light/Dark</mat-slide-toggle>
<div id="parent">
  <div id="child">
<cdk-virtual-scroll-viewport [itemSize]="200" style="height: 1000px">
<div *cdkVirtualFor="let post of posts">
  <app-posts (click)="onClick(post)"[pictureUrl]="post.photoUrl"></app-posts>
</div>
<div >
 <div> <button class="kopce1"  (click)="onLoadLess()"></button></div>
 <div><button class="kopce2" (click)="onLoadMore()"></button></div>
</div>
</cdk-virtual-scroll-viewport>
  
</div>
</div>
