.kopce2
{
    margin-top:-19%;
    margin-left:54.7%;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Red_Arrow_Right.svg");
    background-color:transparent;
    border:none;
    background-size:cover;
    width:45px;
    height: 50px;
    position: absolute;
}
.kopce1
{   
    background-image:url("https://www.freeiconspng.com/uploads/red-arrow-left-png-6.png");
    background-size:cover;
    background-color:transparent;
    width:45px;
    height:50px;
    border:none;
    margin-top:-19%;
    margin-left:8%;
    position: absolute;
}

.login
{
    float:left; margin-top:-2.3%;margin-left:1%;
    background-color: transparent;
    font-style: oblique;
    font-family: Blippo, fantasy;
    color:white;
    border:none;
    font-size:120%;
}

#parent {height: 45px; position: relative;}
#parent::after {
	content: ''; 
	width: 100%; 
	height: 2000%;
    background:linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#c13584,#E1306C,#FD1D1D); 
    
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
}

.slajt
{
    float:right; margin-top:-2%;margin-right:1%;
    color:"primary";
    color:white;
    font-family: Blippo, fantasy;
    font-style: oblique;
}

.dire
{   width:250px;
    height:550px;
    float:right;
    right:5%;
    margin-right: 2%;
    margin-top:-28.5%;
    text-align:center;
    background-color:#c13584;
    border-radius:10px;
    font-size:125%;
    color:white;
    font-family:Blippo;
}
.straits
{
    width:250px;
    height:550px;
    float:left;
    right:5%;
    margin-left: 2%;
    margin-top:-28.5%;
    text-align:center;
    background-color:#c13584;
    border-radius:10px;
    font-size:125%;
    color:white;
    font-family:Blippo;
    
}
.casa
{
    margin-top: -2.8%;
    margin-left:47%;
    font-size:125%;
    background-color: rgb(212, 189, 255) ;
    width:100px;
    height:25px;
    border-radius:5px;
    text-align:center;
    box-shadow:5px 5px 5px gray;
    font-family:Blippo;
}

.lajkop
{
    float:right;
    margin-top:-1.5%;
    margin-right: 30%;
    border:none;
    background-image: url('https://i.ya-webdesign.com/images/facebook-like-and-love-buttons-png-transparent-6.png?fbclid=IwAR3D-qz9_5niWAHkDnJTqBnB4uPlKmMqR5MOCy5Y1L4ZMNTzjZDWUUYs03Q');
    background-size:cover;
    background-color:transparent;
    width: 40px;
    height: 40px;

}
