.main{
    width: 42%;
    height: 80%;
    margin-top: 5em !important;
    margin-left:26% !important;
    background-position: center;
    padding: 2em !important;
    float: center;
    border-radius:10px;
    background-color:rgb(240, 186, 222);
    background-blend-mode: lighten;
    box-shadow: 5px 5px 5px gray;
}

.sizeImg{
    width: 99%;
    height: 650px;
    border-radius:10px;
}

.kopce
{
    float:right;
     background-image: url('https://i.ya-webdesign.com/images/facebook-like-and-love-buttons-png-transparent-6.png?fbclid=IwAR3D-qz9_5niWAHkDnJTqBnB4uPlKmMqR5MOCy5Y1L4ZMNTzjZDWUUYs03Q');
     background-size:cover;
     background-color:transparent;
     width: 40px;
     height: 40px;
     margin-top:-15px;
     border:none;
}

.descr
{
    float:right;
    margin-right:5%;
    margin-top:-20%;
    width:10%;
    border-radius:10px;
    height:400px;
    color:black;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(212, 189, 255);
    box-shadow: 5px 5px 5px gray;

}
.comm
{
    float:left;
    margin-left:-25%;
    margin-top:-20%;
    width:10%;
    border-radius:10px;
    height:400px;
    color:black;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(212, 189, 255);
    box-shadow: 5px 5px 5px gray;
}
